.mapcontainer{
    position: relative !important;
    width: 100%;
    height: 85%;
    padding: 0px !important;
    margin:0px !important;
}
.sc-ksdxgE{
    padding: 0px !important;
    margin:0px !important;
}
.leaflet-container,.leaflet-crosshair{
    padding: 0px !important;
    margin:0px !important;
    width: 101% ;
    height: 100%;
}
#UpdateButton{
    background-color: aliceblue !important;
}
#UpdateButton:hover{
    background-color: gray !important;
}

