.leaflet-popup-content{
    margin: 5px !important;
    padding: 10px !important;
    right:80px !important;
    height: auto !important;
    font-size: 15px !important;

}
.visitbutton{
    padding: 5px !important;
    text-align: center !important;
    margin-top: 12% !important;
    margin-left:0 !important;
    font-size: 18px !important;
    height: auto;
}
.infocontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.texcontainer{
    margin-top: 6%;
    width: 100%;
}